<div >
  <%= image_tag("futuristic_door", :id => "login-door")%>

  <%= form_tag 'login', :id => 'login-form' do %>
    <p class="fancy-field">
    <label class="placeholder" for="username">USERNAME</label><br/>
      <%= text_field_tag :username, params[:username], class: "fancy-input" %>
    </p>
    <p class="fancy-field">
      <label class="placeholder" for="password">PASSWORD</label><br />
      <%= password_field_tag :password, class: "fancy-input" %>
    </p>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <p>
      <%= submit_tag "LOGIN", class: "fancy-button" %>
    </p>
  <% end %>
</div>
