<h1>Contracts Show Page</h1>


<tr>
  <td><%= @contract.ticker %></td>
</tr><br>
<tr>
  <% if @contract.strike_price %>
    <td>Strike Price: $<%= @contract.strike_price %></td><br>
    <td>Created at: <%= @contract.created_at.time %></td><br>
    <td>Expiration: <%= @contract.expiration %></td><br>
    <td>Spot Price: $<%= @contract.spot_price %></td><br>
  <% end %>
</tr><br>

<p>
	<%= link_to 'Return to Contracts Index', contracts_path %>
</p>