<h1>Welcome to the user index</h1>

<% @users.each do |user| %>
<p>
	<%= link_to user.username, user_path(user) %><br>
</p>
<% end %>

<div>
	<%= form_tag graph_data_api_graphs_path, remote: true do %>
		<%= hidden_field_tag(:ticker, 'AAPL') %>

		<div class="col-sm-2">
      <%= submit_tag 'AAPL' %>
    </div>
  <% end %>
</div>

<div>
	<%= form_tag graph_data_api_graphs_path, remote: true do %>
		<%= hidden_field_tag(:ticker, 'AA') %>

		<div class="col-sm-2">
      <%= submit_tag 'AA' %>
    </div>
  <% end %>
</div>

<%= render 'graphs/graph' %>
