<h1>Welcome to the user index</h1>

<% @users.each do |user| %>
<p>
	<%= user.username %><br>
	<% user.contracts.each do |contract| %>
	<tr>
		<td><%= contract.ticker %></td>
	</tr><br>
	<tr>
		<% if contract.bought_at %>
			<td>Bought at: </td>
			<td>$<%= contract.bought_at %></td>
			<td> on <%= contract.created_at %></td>
	</tr>
	<tr>
		<% elsif contract.sold_at %>
			<td>Sold at: </td>
			<td>$<%= contract.sold_at %></td>
			<td> on <%= contract.created_at %></td>
	</tr>
		<% end %>
	</tr>
	<% end %>
</p>
<% end %>
