<h3>Uesr Index</h3>

<% @users.each do |user| %>
<p>
	<%= user.username %><br>
	<% user.positions.each do |position| %>
	<tr>
		<td><%= position.ticker %></td>
	</tr><br>
	<tr>
		<% if position.bought_at %>
			<td>Bought at: </td>
			<td>$<%= position.bought_at %></td>
			<td> on <%= position.created_at %></td>
	</tr>
	<tr>
		<% elsif position.sold_at %>
			<td>Sold at: </td>
			<td>$<%= position.sold_at %></td>
			<td> on <%= position.created_at %></td>
	</tr>
		<% end %>
	</tr>
	<% end %>
</p>
<% end %>