<h1>User Profile</h1>


<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<% @user.contracts.each do |contract| %>
  <tr>
    <td><%= contract.ticker %></td>
  </tr><br>
  <tr>
    <% if contract.strike_price %>
      <td>Strike Price: </td>
      <td>$<%= contract.strike_price %></td>
      <td> on <%= contract.created_at.time %></td>
      <td> with an expiration time of <%= contract.expiration %></td>
  </tr>
    <% end %>
  </tr>
  <br>
<% end %>

<%= XigniteAdapter.marketcap('pbyi') %>






<p>
<%= link_to 'Buy a contract', new_contract_path(@contracts) %>
</p>
