<div class='fundamental'>
  <div class='fundamental-column'>
    ROC: <%= @equity.roc %><br>
    RSI: <%= @equity.rsi %><br>
    MFI: <%= @equity.mfi %><br>
    ADX: <%= @equity.adx %><br>
    OBV: <%= @equity.obv %><br>
  </div>
  <div class='fundamental-column'>
    SMA: <%= @equity.sma %><br>
    EMA: <%= @equity.ema %><br>
    Stoch_D: <%= @equity.stoch_d %><br>
    Stoch_K: <%= @equity.stoch_k %><br>
  </div>
</div>
