<h3>This is the fundamentals partial</h3>

ROC: <%= @equity.roc %><br>
RSL: <%= @equity.rsl %><br>
MFL: <%= @equity.mfl %><br>
ADX: <%= @equity.adx %><br>
OBV: <%= @equity.obv %><br>
SMA: <%= @equity.sma %><br>
EMA: <%= @equity.ema %><br>
Stoch_D: <%= @equity.stoch_d %><br>
Stoch_K: <%= @equity.stoch_k %><br>
