
<% if @equity %>
<div class='fundamental'>
  <div class='fundamental-column'>
    Rate of Change(ROC): <%= @equity.roc %><br>
    Relative Strength Index(RSI): <%= @equity.rsi %><br>
    Money Flow Index(MFI): <%= @equity.mfi %><br>
    Average Directional Movement Index(ADX): <%= @equity.adx %><br>
    On Balance Volume(OBV): <%= @equity.obv %><br>
  </div>
  <div class='fundamental-column'>
    Simple Moving Average(SMA): <%= @equity.sma %><br>
    Exponential Moving Average(EMA): <%= @equity.ema %><br>
    Stochastic_D: <%= @equity.stoch_d %><br>
    Stochastic_K: <%= @equity.stoch_k %><br>
  </div>
</div>
<% else %>
  <p>You have to choose a stock... fundamentally.</p>
<% end  %>
