<% if @equity %>
  <% if !markets_open? %>
    <p>Markets are currently closed. Any contract created will default to a $0 gain/loss.</p>
  <% end %>

  <%= form_for [equity, contract], url: equity_contracts_path(equity, contract) do |f| %>
    <p>
      <%= f.label :ticker, "Ticker:  " %>
      <%= equity.ticker %>
      <%= f.hidden_field :ticker, value: equity.ticker %>
    </p>
    <p>
      <%= f.label :put_call, "Type:  " %>
      <%= f.select :put_call, ['Call', 'Put'] %>
    </p>
    <p>
      <%= f.label :interval, "Option Interval in Minutes:  " %>
      <%= f.select :interval, ['1', '5', '15', '60'] %>
    </p>
    <p>Latest Price: $<%= sprintf "%.2f", @latest_price %></p>
    <p>
      <%= f.label :strike_price, "Strike Price:  " %>
      <%= f.number_field :strike_price, class: :text_field, step: :any %>
    </p>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :equity_id, value: equity.id %>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
<% else %>
  <p>Choose a ticker first!</p>
<% end %>
