<h3>This is the fundamentals partial</h3>

<%= @asset.roc %><br>
<%= @asset.rsl %><br>
<%= @asset.mfl %><br>
<%= @asset.adx %><br>
<%= @asset.omv %><br>
<%= @asset.sma %><br>
<%= @asset.ema %><br>
<%= @asset.stoch_d %><br>
<%= @asset.stoch_k %><br>
