<h3>This is the fundamentals partial</h3>

ROC: <%= @asset.roc %><br>
RSL: <%= @asset.rsl %><br>
MFL: <%= @asset.mfl %><br>
ADX: <%= @asset.adx %><br>
OBV: <%= @asset.obv %><br>
SMA: <%= @asset.sma %><br>
EMA: <%= @asset.ema %><br>
Stoch_D: <%= @asset.stoch_d %><br>
Stoch_K: <%= @asset.stoch_k %><br>
