<h1>Assets Show Page</h1>

<p>
  <%= link_to 'User Show Page', user_path(current_user) %>
</p>

<h3><%= @current_time %></h3>

<h4><%= link_to 'Trade Forex Markets', assets_path %></h4>

<% @contracts.each do |contract| %>
  <tr>
    <!-- <td><%= link_to contract.ticker, contract_path(contract) %></td> -->
  </tr><br>
  <tr>
    <% if contract.strike_price %>
      <td>Strike Price: $<%= contract.strike_price %></td><br>
      <td>Created at: <%= contract.created_at.in_time_zone("Pacific Time (US & Canada)") %></td><br>
      <td>Expiration: <%= contract.expiration.in_time_zone("Pacific Time (US & Canada)") %></td><br>
      <td>Spot Price: $<%= contract.spot_price %></td><br>
    <% end %>
    <% if contract.gain_loss == nil %>
      <% contract.calculate_gain_loss %>
        <td><%= contract.gain_loss %></td><br>
    <% else %>
      <td><%= contract.gain_loss %></td><br>
    <% end %>
  </tr><br>

<% end %>

<div  class='main-image' ><%= image_tag("finviz2.png") %></div>

<div class='console'>

  <div class='stockbox'>
    <div class='button'><%= link_to "TSLA", asset_path(1) %></div>
    <div class='button'><%= link_to "GOOGL", asset_path(2)  %></div>
    <div class='button'><%= link_to "AAPL", asset_path(3) %></div>
    <div class='button'><%= link_to "FB", asset_path(4) %></div>
    <div class='button'><%= link_to "TWTR", asset_path(5) %></div>
  </div>
</div>

<div class='infobox'>
   <ul class="tabs">
      <li><a href='#overview'>Overview</a></li>
      <li><a href='#fundamentals'>Fundamentals</a></li>
      <li><a href='#trade'>Trade</a></li>
  </ul>
  <div class='items'>
    <div id="overview" class='tab'>
      <%= render partial: "overview" %>
    </div>
    <div id="fundamentals" class='tab'>
      <%= render partial: "fundamentals" %>
    </div>
    <div id="trade" class='tab'>
      <%= render partial: "trade" %>
    </div>
  </div>
</div>
